[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-wtf = "*"
flask = "*"
flask-bootstrap = "*"
stripe = "*"
flask-mail = "*"
wtforms = {extras = ["email"]}

[dev-packages]

[requires]
python_version = "3.6"
