<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <!-- Required meta tags -->
        <title>Gifting MyWallSt</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Favicons -->
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicons/favicon-16x16.png') }}"/>
        <link rel="oicon" type="image/png" href="{{ url_for('static', filename='img/favicons/favicon-32x32.png') }}"/>
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/favicons/apple-touch-icon.png') }}" type="image/png"/>
        <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/favicons/favicon.ico') }}"/>

        <!-- CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        {# <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" crossorigin="anonymous"> #}

    </head>

    <body class="{% block bodyclass %}{% endblock %}">
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PXKX88C"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

        <!-- Content -->
        <div class="container py-7">
    
            <div class="bg-white p-5 py-sm-6 px-sm-7 rounded border mx-auto position-relative" style="max-width: 44rem;">
                <img class="position-absolute" style="max-height: 220px; top:-40px; left:-15%; z-index: -1;" src="{{ url_for('static', filename='img/circle-gold.png') }}">
                {% block app_content %}{% endblock %}
                
            </div>

        </div>
        

        <!-- Footer -->
        <div class="container pt-7 pb-3">
            <p class="small text-muted text-center">© 2020 MyWallSt Ltd. All rights reserved. This website is operated by MyWallSt Ltd (“MyWallSt”). MyWallSt is a publisher and a technology platform, not a registered broker-dealer or registered investment adviser, and does not provide investment advice. Brokerage services are provided to clients of MyWallSt by DriveWealth LLC, an SEC registered broker-dealer and member FINRA/SIPC. Investing involves risk and investments may lose value. Past performance does not guarantee future results. “MyWallSt“, “Pulse Investing Made Easy” and “Tap To Invest” are registered trademarks of MyWallSt. <a href="https://mywallst.com/legal" target="_blank">Privacy Policy</a>.</p>
        </div>

        <!-- Scripts -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <!-- Other Scripts -->
        {% block scripts %}{% endblock %}
    </body>

</html>

    <!-- First Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>
