{% extends "base.html" %}

{% block app_content %}
    <img class="" style="width: 50%; margin-left:auto; margin-right:auto;display: block;" src="{{ url_for('static', filename='img/gift.png') }}">

    <h2 class="text-center mt-4">
        Let’s wrap the gift! &#127873;
        
    </h2>
    
    <p class="mt-4">
        We need a few details about the person you want to gift {{ variant }} so we can deliver personalised email with an optional note from you.
    </p>

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        <div class="mt-6 mb-6">
            <p>Who are you gifting {{ variant }} to? <span style="color:red">*</span</p>
            <div style="vertical-align: top;">
                <div style="display: inline-block;">
                    <div style="vertical-align: top;margin-right:10px;">
                        {{ form.first_name(class_="inputform", size=10) }}
                        {% for error in form.first_name.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                <div style="display: inline-block;">
                    {{ form.last_name (class_="inputform")}}
                    {% for error in form.last_name.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>
                
            </div>
        </div>

        <div class="mt-6 mb-6">
            <p>What is their email address? <span style="color:red">*</span</p>
            <div style="vertical-align: top;">
                  <div style="display: inline-block;">
                    {{ form.giftee_email(class_="inputform") }}
                    {% for error in form.giftee_email.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="mt-6 mb-6">
            <p>Personal note (optional)</p>
            <div style="vertical-align: top;">
                  <div style="display: inline-block;">
                    {{ form.personal_note(class_="inputform", rows=5, cols=40) }}
                    <span style="color: grey;font-size:0.75em;">{{ form.personal_note.description }}</span>
                </div>
            </div>
        </div>

        <div class="mt-6 mb-6">
            <p>Send gift on date (optional)</p>
            <div style="vertical-align: top;">
                  <div style="display: inline-block;">
                    {{ form.send_gift_date(class_='inputform', type='date') }}
                    <br><span class="inputlabel">{{ form.send_gift_date.description }}</span>
                </div>
            </div>
        </div>

        <div class="mt-6 mb-6">
            <p>Choose variant <span style="color:red">*</span></p>
            <div style="vertical-align: top;">
                  <div style="display: inline-block;">
                    {% for subfield in form.subscription_options %}
                    <tr>
                        <td>{{ subfield }}</td>
                        <td>{{ subfield.label }}</td>
                        <br>
                    </tr>
                    {% endfor %}
                    {% for error in form.subscription_options.errors %}
                        <span style="color: red;">{{ error }}</span>
                        <br>
                    {% endfor %}
                    <span class="inputlabel">{{ form.subscription_options.description }}</span>
                </div>
            </div>
        </div>
        
         <div class="mt-6 mb-6">
            <p>What is your email address? <span style="color:red">*</span</p>
            <div style="vertical-align: top;">
                  <div style="display: inline-block;">
                    {{ form.gifter_email(class_="inputform") }}
                    {% for error in form.gifter_email.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>

        <p>{{ form.submit(class_="mt-4 btn btn-success btn-lg") }}</p>

    </form>
                
    
{% endblock %} 


{% block scripts %}
  {{ super() }}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
  <script type="text/javascript">
    $(function () {
      $('#datepick').datetimepicker();
    });
  </script>
{% endblock %}