{% extends "base.html" %}

{% block app_content %}
    <img class="" style="width: 50%; margin-left:auto; margin-right:auto;display: block;" src="{{ url_for('static', filename='img/gift-confetti.png') }}">

    <h2 class="text-center mt-4">
        Thank you!
    </h2>
    
    <div class="mt-4 lead text-center">
        <p>We've received your purchase and are going to prepare the gift. You will receive an email from us shortly confirming your purchase.</p>

        <p>Alternatively, you can reach us on <a href="mailto:hello@mywallst.com"><span style="color: #4fce92;">hello@mywallst.com</span></a></p>
    </div>

{% endblock %} 
