{% extends "base.html" %}
{% block content %}

<!-- Header -->
<div class="pt-2 container col-sm-8 text-center position-relative">
    <img class="position-absolute" style="max-height: 220px; top:-20%; left:-5%; z-index: -1;" src="{{ url_for('static', filename='new_img/circle-gold.png') }}">
    <img class="img-fluid" src="{{ url_for('static', filename='new_img/header_purchased.png') }}" style="max-height: 250px;">
    <h2 class="m-0">Congratulations! Welcome to Horizon</h2> 

    <div class="mt-4 embed-responsive embed-responsive-16by9 mx-auto col-md-8 rounded">
        <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/376391846" width="640" height="564" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>
    <p class="mt-4 lead">
        You will receive an email from us regarding your account and subscription shortly. Alternatively, you can reach us on <a href="mailto:hello@mywallst.com"><span style="color: #4fce92;">hello@mywallst.com</span></a></i>.
    </p>
</div>

<!-- Footer -->
<div class="container py-5">
    <p class="small text-muted text-center">© 2019 MyWallSt Ltd. All rights reserved. This website is operated by MyWallSt Ltd (“MyWallSt”). MyWallSt is a publisher and a technology platform, not a registered broker-dealer or registered investment adviser, and does not provide investment advice. Brokerage services are provided to clients of MyWallSt by DriveWealth LLC, an SEC registered broker-dealer and member FINRA/SIPC. Investing involves risk and investments may lose value. Past performance does not guarantee future results. “MyWallSt“, “Pulse Investing Made Easy” and “Tap To Invest” are registered trademarks of MyWallSt. <a href="https://mywallst.com/legal" target="_blank">Privacy Policy</a>.</p>
</div>

{% endblock %}
